@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

ol, ul, li, a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Mulish", serif;
}

.d-flex, .d-flex-between, .d-flex-center {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center, .d-flex-center {
  justify-content: center;
}

.align-items-center, .d-flex-between, .d-flex-center {
  align-items: center;
}

.justify-content-between, .d-flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row-gap {
  row-gap: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grabbing {
  cursor: grabbing;
}

.header__container {
  max-width: calc(100% - 4.8rem);
  margin: 0 auto;
}

header {
  background-color: #fff;
  position: sticky;
  padding-top: 2.8rem;
  padding-bottom: 0.8rem;
  top: -2rem;
  z-index: 1000;
}
header .header__logo .logo {
  width: 10rem;
  height: auto;
}
header .checkbox {
  display: none;
}
header .checkbox-search {
  display: none;
}
header .overlay {
  position: absolute;
}
header .header__nav-mobile {
  display: none;
}
header .header__action-mobile {
  display: none;
}
header .header__menu .menu .menu__list {
  position: relative;
}
header .header__menu .menu .menu__list .menu__item {
  margin-right: 3.5rem;
  transition: opacity 0.3s ease-in-out;
  position: relative;
}
header .header__menu .menu .menu__list .menu__item .menu__link {
  color: #4a4b4b;
  padding: 0.5rem;
  text-transform: uppercase;
}
header .header__menu .menu .menu__list .menu__item .menu__icon::before {
  font-size: 1.2rem;
  color: #949292;
  position: relative;
  display: inline-block;
  content: "\f106";
  transition: transform 0.3s ease-in-out, content 0.3s ease-in-out;
}
header .header__menu .menu .menu__list .menu__item:hover .menu__icon::before {
  content: "\f107";
  color: #000;
  transform: translateY(-10px);
}
header .header__menu .menu .menu__list .menu__item:hover .menu__link {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}
header .header__menu .menu .menu__list .menu__item:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
header .header__menu .menu .menu__list .menu__item .menu__sub-list {
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out, opacity ease-in-out;
  transition-timing-function: linear;
  min-width: 17rem;
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  background-color: #fff;
  box-shadow: 9px 10px 14px -7px rgba(119, 114, 114, 0.62);
  -webkit-box-shadow: 9px 10px 14px -7px rgba(119, 114, 114, 0.62);
  -moz-box-shadow: 9px 10px 14px -7px rgba(119, 114, 114, 0.62);
}
header .header__menu .menu .menu__list .menu__item .menu__sub-list .menu__sub-item {
  padding: 1.5rem;
}
header .header__menu .menu .menu__list .menu__item .menu__sub-list .menu__sub-item:hover {
  background-color: #e6dfdf;
}
header .header__menu .menu .menu__list .menu__item .menu__sub-list .menu__sub-item .menu__sub-link {
  color: #000;
  text-transform: uppercase;
}
header .header__search .search {
  position: relative;
  height: 37px;
}
header .header__search .search .search__input {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  border: 1px solid #333;
  position: relative;
}
header .header__search .search .search__icon::before {
  content: "\f002";
  display: inline-block;
  padding: 1rem 0 1rem 1rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #666768;
}
header .header__search .search:hover .search__icon::before {
  color: #151616;
}
header .header__actions {
  position: relative;
}
header .header__actions .actions .actions__link {
  margin-right: 1.5rem;
}
header .header__actions .actions .actions__link .fa-magnifying-glass {
  display: none;
}
header .header__actions .actions .actions__link .actions__icon-user {
  margin-right: 2rem;
}
header .header__actions .actions .actions__link .actions__icon-user::before {
  content: "\f4ff";
  color: #5086c4;
  position: absolute;
  top: 0;
  display: inline-block;
  transform: rotateY(180deg);
  transition: transform 0.3s ease-in-out, content 0.3s ease-in-out;
}
header .header__actions .actions .actions__link:hover .actions__icon-user::before {
  content: "\e535";
  transform: rotateY(180deg) translateX(10px);
}
header .header__actions .actions .actions__link .actions__icon-cart::before {
  content: "\f54e";
  color: #5086c4;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, content 0.3s ease-in-out;
  display: inline-block;
}
header .header__actions .actions .actions__link:hover .actions__icon-cart::before {
  content: "\f218";
  color: #5b93d3;
  transform: translateY(-10px);
}
header .header__actions .actions .actions__link .actions__icon-fast::before {
  content: "\f0d1";
  position: absolute;
  top: 10rem;
  right: 10rem;
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  color: #25af98;
  opacity: 0;
}
header .header__actions .actions .actions__link:nth-child(3):hover + .actions__link:nth-child(4) .actions__icon-fast::before {
  animation: moveUp 4s forwards;
}
@keyframes moveUp {
  0% {
    transform: rotate(200deg) translateY(0);
    -webkit-transform: rotate(200deg) translateY(0);
    -moz-transform: rotate(200deg) translateY(0);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  50% {
    transform: rotate(250deg) translateY(0);
    -webkit-transform: rotate(250deg) translateY(0);
    -moz-transform: rotate(250deg) translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotate(300deg) translate(100px, 0px);
    -webkit-transform: rotate(300deg) translate(100px, 0px);
    -moz-transform: rotate(300deg) translate(100px, 0px);
    opacity: 0;
  }
}

.slider .slider__container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.slider .slider__img {
  min-width: 100%;
  -webkit-user-drag: none; /* CSS để vô hiệu kéo hình ảnh */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; /* Vô hiệu chọn hình ảnh */
}
.slider .slider__control-prev,
.slider .slider__control-next {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2rem;
}
.slider .slider__control-prev:hover,
.slider .slider__control-next:hover {
  width: 3rem;
  height: 3rem;
}
.slider .slider__control-prev {
  left: 0;
}
.slider .slider__control-next {
  right: 0;
}

.countdown {
  margin: 3rem 1.5rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
}
.countdown strong {
  font-weight: bold;
  color: #f2611c;
  font-size: 3.5rem;
}
.countdown .countdown__content-icon {
  width: 2rem;
  height: auto;
}
.countdown .countdown__item #countdown__item-time .countdown-unit {
  background-color: #262626;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 2px;
  font-size: 1.5rem;
  display: inline-block;
}

.main__container {
  width: calc(100% - 48px);
  margin: 0 auto;
}
.main__container .products {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 4rem;
}
.main__container .products .product {
  flex: 1 1 calc(25% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(25% - 1rem);
}
.main__container .products .product .product__img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.main__container .products .product .product__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__container .products .product .product__img .product__label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f00;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 8px 10px 8px;
  text-align: center;
  line-height: 1;
  width: 43px;
}
.main__container .products .product .product__img .product__label::after {
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: -10px;
  position: absolute;
  border-color: transparent #f00;
  border-style: solid;
  border-width: 0 30px 10px;
}
.main__container .products .product__price {
  color: #ed1c24;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
}
.main__container .products .product__progress {
  position: relative;
  width: 40%;
  height: 2rem;
  background-color: #ffbda6;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
.main__container .products .product__progress .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ec1f16;
  border-radius: 0 10px;
  width: 30%;
  transition: width 0.3s ease;
}
.main__container .products .variantcolor {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.main__container .products .variantcolor div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.3s ease, border 0.3s ease;
}
.main__container .products .variantcolor .color-block {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 2px;
}

@media (max-width: 991.98px) {
  header .menu {
    padding-left: 1rem;
    padding-bottom: 5rem;
  }
  header .header__menu {
    display: none;
  }
  header .header__icon-bar {
    width: 2.5rem;
    height: 2.5rem;
  }
  header .checkbox:checked ~ .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  header .header__nav-mobile {
    display: block;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 10;
    width: 85%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.67);
    transform: translateX(-110%);
  }
  header .header__nav-mobile .header__list-menu .header__title {
    font-weight: 600;
  }
  header .header__nav-mobile .menu__list {
    flex-direction: column;
  }
  header .header__nav-mobile .menu__icon {
    width: 1.2rem;
    height: auto;
    position: absolute;
    right: 1rem;
    top: 10px;
  }
  header .header__nav-mobile .menu__icon::before {
    font-size: 1.2rem;
    color: #949292;
    position: relative;
    display: inline-block;
    content: "\f106";
    transition: transform 0.3s ease-in-out, content 0.3s ease-in-out;
  }
  header .header__nav-mobile .checkbox-nav-mobile:checked + label .menu__icon::before {
    content: "\f107";
    color: #000;
    transform: translateY(-10px);
  }
  header .header__nav-mobile .menu__item {
    position: relative;
    display: block;
    background-color: #fff;
    line-height: 2.5rem;
  }
  header .header__nav-mobile .menu__link {
    color: #2c2c2c;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
  }
  header .header__nav-mobile .menu__sub-list {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    flex: none;
    position: relative;
    background-color: #fafafa;
    padding-left: 2rem;
  }
  header .header__nav-mobile .menu__sub-list .menu__sub-link {
    display: inline-block;
    color: #3e4141;
    padding: 0.5rem;
  }
  header .checkbox:checked ~ .header__nav-mobile {
    transform: translateX(0);
  }
  header .checkbox-nav-mobile:checked + label ~ .menu__sub-list {
    opacity: 1;
    max-height: 50rem;
  }
  header .checkbox-nav-mobile {
    display: none;
  }
  header .header__label-close {
    display: inline-block;
  }
  header .close-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    position: absolute;
    right: 1rem;
    top: 0;
    padding-top: 1rem;
    z-index: 100;
    display: none;
  }
  header .header__list-menu {
    text-align: center;
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid gray;
  }
}
@media (max-width: 767.98px) {
  .main__container .products .product {
    flex: 1 1 calc(50% - 1rem); /* Chuyển sang 2 cột */
    max-width: calc(50% - 1rem);
  }
}
@media (max-width: 575.98px) {
  .header__search {
    display: none;
  }
  header .header__actions .actions .actions__link .fa-magnifying-glass {
    display: block;
    color: #5b93d3;
  }
  header .checkbox-search:checked ~ .overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  header .header__action-mobile {
    display: block;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    z-index: 10;
    width: 85%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.67);
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  header .header__action-mobile .close-icon {
    display: block;
  }
  header .header__action-mobile .header__search {
    display: block;
    width: 100%;
  }
  header .header__action-mobile .header__search .search {
    display: inline-block;
    width: 100%;
  }
  header .header__action-mobile .header__search .search .search__input {
    width: 100%;
  }
  header .checkbox-search:checked ~ .header__action-mobile {
    transform: translateX(0);
  }
  .main__container {
    width: calc(100% - 24px);
  }
  .main__container .products .product {
    flex: 1 1 100%; /* Chuyển sang 1 cột */
    max-width: 100%;
  }
}/*# sourceMappingURL=main.css.map */