<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Store</title>
    {{! <link rel="stylesheet" href="/css/style.css"> }}
  </head>
  <body>
    <header>
      <h1>Welcome to My Store</h1>
    </header>

    <main>
      {{{body}}}
      <!-- Đây là nơi nội dung của các trang sẽ được chèn vào -->
    </main>

    <footer>
      <p>&copy; 2024 My Store. All rights reserved.</p>
    </footer>

    {{! <script src="/js/script.js"></script> }}
    <script src="/js/bundle.js"></script>

  </body>
</html>