header {
  background-color: #fff;
  position: sticky;
  padding-top: 2.8rem;
  padding-bottom: 0.8rem;
  top: -2rem;
  z-index: 1000;
  // logo
  .header__logo {
    .logo {
      width: 10rem;
      height: auto;
    }
  }

  // menu mobile
  .checkbox {
    display: none;
  }
  .checkbox-search {
    display: none;
  }
  .overlay {
    position: absolute;
  }
  .header__nav-mobile {
    display: none;
  }
  .header__action-mobile {
    display: none;
  }
  // menu PC
  .header__menu {
    .menu {
      .menu__list {
        position: relative;
        .menu__item {
          margin-right: 3.5rem;
          transition: opacity 0.3s ease-in-out;
          position: relative;
          .menu__link {
            color: #4a4b4b;
            padding: 0.5rem;
            text-transform: uppercase;
          }
          .menu__icon::before {
            font-size: 1.2rem;
            color: #949292;
            position: relative;
            display: inline-block;
            content: "\f106";
            transition: transform 0.3s ease-in-out, content 0.3s ease-in-out;
          }
          &:hover .menu__icon::before {
            content: "\f107";
            color: #fff;
            transform: translateY(-10px);
          }
          &:hover .menu__link {
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
          }
          &:hover .menu__sub-list {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
          .menu__sub-list {
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: transform 0.3s ease-in-out, opacity ease-in-out;
            transition-timing-function: linear;
            min-width: 17rem;
            position: absolute;
            top: 2rem;
            left: 0.5rem;
            background-color: #fff;
            box-shadow: 9px 10px 14px -7px rgba(119, 114, 114, 0.62);
            -webkit-box-shadow: 9px 10px 14px -7px rgba(119, 114, 114, 0.62);
            -moz-box-shadow: 9px 10px 14px -7px rgba(119, 114, 114, 0.62);
            .menu__sub-item {
              padding: 1.5rem;
              &:hover {
                background-color: #e6dfdf;
              }
              .menu__sub-link {
                color: #000;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }

  // search
  .header__search {
    .search {
      position: relative;
      height: 37px;
      .search__input {
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        border: 1px solid #333;
        position: relative;
      }
      .search__icon::before {
        content: "\f002";
        display: inline-block;
        padding: 1rem 0 1rem 1rem;
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        color: #666768;
      }
      &:hover .search__icon::before {
        color: #151616;
      }
    }
  }

  // actions
  .header__actions {
    position: relative;
    .actions {
      .actions__link {
        margin-right: 1.5rem;
        .fa-magnifying-glass {
          display: none;
        }
        .actions__icon-user {
          margin-right: 2rem;
        }
        .actions__icon-user::before {
          content: "\f4ff";
          color: #5086c4;
          position: absolute;
          top: 0;
          display: inline-block;
          transform: rotateY(180deg);
          transition: transform 0.3s ease-in-out, content 0.3s ease-in-out;
        }
        &:hover .actions__icon-user::before {
          content: "\e535";
          transform: rotateY(180deg) translateX(10px);
        }
        .actions__icon-cart::before {
          content: "\f54e";
          color: #5086c4;
          transform: translateY(0);
          transition: transform 0.3s ease-in-out, content 0.3s ease-in-out;
          display: inline-block;
        }
        &:hover .actions__icon-cart::before {
          content: "\f218";
          color: #5b93d3;
          transform: translateY(-10px);
        }
        .actions__icon-fast::before {
          content: "\f0d1";
          position: absolute;
          top: 10rem;
          right: 10rem;
          transform: rotate(300deg);
          -webkit-transform: rotate(300deg);
          -moz-transform: rotate(300deg);
          color: #25af98;
          opacity: 0;
        }
      }
      .actions__link:nth-child(3):hover + .actions__link:nth-child(4) .actions__icon-fast::before {
        animation: moveUp 4s forwards;
      }
    }
    @keyframes moveUp {
      0% {
        transform: rotate(200deg) translateY(0);
        -webkit-transform: rotate(200deg) translateY(0);
        -moz-transform: rotate(200deg) translateY(0);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
      50% {
        transform: rotate(250deg) translateY(0);
        -webkit-transform: rotate(250deg) translateY(0);
        -moz-transform: rotate(250deg) translateY(0);
        opacity: 1;
      }
      100% {
        transform: rotate(300deg) translate(100px, 0px);
        -webkit-transform: rotate(300deg) translate(100px, 0px);
        -moz-transform: rotate(300deg) translate(100px, 0px);
        opacity: 0;
      }
    }
  }
}
